<div class="parallax-container parallax-landing">
      <%# <div class="parallax"><img src=<%= asset_path( 'common/landing-background.png') %>
</div>



<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>