<div class="parallax-container parallax-landing">
      
      <div class="home-search">
            <%= form_tag catalogo_path, :method => 'get', :class => 'home-search' do %>
                  <%= text_field_tag :search, params[:search], class: "icon_prefix", placeholder: "Encuetra tu smartphone aquí" %>
            <% end %>
      </div>
      
</div>
