/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "materialize/components/color";
$primary-color: color("indigo", "darken-1") !default;
//  $primary-color: color("indigo", "darken-1") !default;
$secondary-color: color("blue-grey", "darken-1") !default;
@import "materialize"; // material font-icon
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
nav {
    position: fixed;
    top: 0;
    background: white;
    color: black;
    z-index: 1000;
    a {
        color: black;
    }
    .brand-logo {
        color: black;
    }
    .shopping-cart-container {
        position: absolute;
        right: 53px;
        font-size: 23px;
        display: flex;
        flex-direction: row;
    }
}

#slide-out {
    z-index: 1001;
}

body {
    background-color: #f3f3f3;
}

.social-bar {
    border-radius: 100%;
    i {
        font-size: 1.6em;
        margin: 5px;
        cursor: pointer;
    }
}

.close-text {
    line-height: 0;
}

.parallax-landing {
    background-image: url(asset_path( 'common/landing-background.png'));
    background-attachment: fixed;
}

.parallax-home {
    // background-image: url(asset_path( 'common/Opening-Store.jpg')) no-repeat center center fixed;
    // background-size: cover;
    // height: 300px;
    img{
        top: 0; 
        left: 0; 
        min-width: 100%;
        min-height: 100%;
    }
}

.notification {
    position: fixed;
    left: -5px;
    top: 95px;
    z-index: 10;
    .chip {
        height: 50px;
    }
    .notification-icon {
        padding-top: 12px;
    }
}

.bold-text {
    font-weight: bold;
    margin-bottom: -13px;
}

.carousel-fixed-item {
    display: inline-table;
    bottom: 50% !important;
    font-size: 2em; // left: 2% !important;
    &.left {
        left: 2% !important;
    }
    &.right {
        left: calc(100% - 1.2em) !important;
    }
}

.users_links_container{
    font-size: 0.7em;
    margin-right: 10px;
    a{
        margin-left: 10px;
    }
}

.home-search{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    input{
        background-color: #fff !important;
        background-image: url(asset_path( 'common/lupa.png'));
        background-position: 10px center;
        background-repeat: no-repeat;
        min-width: 310px;
        width: 70% !important;
        margin: 0 auto !important;
        padding-left: 55px !important;
        border: 1px solid #9e9e9e !important;
        padding-top: 5px !important;
        border-radius: 19px !important;
        padding-bottom: 5px !important;
    }
}

.ben-item{
    width: 25%;
    border: solid 2px #d9d9d9;
    margin: 10px;
    i{
        font-size: 3em;
    }

    h6{
        font-size: 1.5em;
    }
}

.benefit-container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media screen and (max-width: 952px){
    .users_links_container{
        display: none;
    }

    .shopping-cart-container{
        visibility: hidden;
    }
}